body{
  background-color: #6d79ec;
}

h1{
  color: wheat;
  background-color: rebeccapurple;
}

#show_sketch{
  float: right;
  padding-top: 10px;
}

p{
  padding-top: 10px;
  font-size: 25px;
}

canvas{
  border:solid white;
  border-radius: 20px;
  margin-top: 150px;
  animation-name: k;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes k{
  from{box-shadow: 1px 1px 38px red;}
  to{box-shadow: 1px 1px 38px green;}
}
